CodeForces/out/*
CodeForces_ALadder/out/*
CodeForces_BLadder/out/*
CtCI/out/*
HackerRank/out/*
InterviewCake/out/*
LeetCode/out/*
Pramp/out/*
TopCoder/out/*
SPOJ/out/*
CodeRust/out/*
AdHoc/out/*
road-network-generator/out/*
codechef/out/*
kattis/out/*

CodeForces/.idea/*
CodeForces_ALadder/.idea/*
CodeForces_BLadder/.idea/*
CtCI/.idea/*
HackerRank/.idea/*
InterviewCake/.idea/*
LeetCode/.idea/*
Pramp/.idea/*
TopCoder/.idea/*
SPOJ/.idea/*
CodeRust/.idea/*
AdHoc/.idea/*
road-network-generator/.idea/*
codechef/.idea/*
kattis/.idea/*