CodeForces/out/*
CodeForces_ALadder/out/*
CtCI/out/*
HackerRank/out/*
InterviewCake/out/*
LeetCode/out/*
Pramp/out/*
TopCoder/out/*

CodeForces/.idea/workspace.xml
CodeForces_ALadder/.idea/workspace.xml
CtCI/.idea/workspace.xml
HackerRank/.idea/workspace.xml
InterviewCake/.idea/workspace.xml
LeetCode/.idea/workspace.xml
Pramp/.idea/workspace.xml
TopCoder/.idea/workspace.xml
SPOJ/SPOJ.iml
CodeRust/.idea/workspace.xml