hightail.config

SPOJ/SPOJ.iml

CodeForces/out/*
CodeForces_ALadder/out/*
CtCI/out/*
HackerRank/out/*
InterviewCake/out/*
LeetCode/out/*
Pramp/out/*
TopCoder/out/*
SPOJ/out/*
CodeRust/out/*
AdHoc/out/*

CodeForces/.idea/*
CodeForces_ALadder/.idea/*
CtCI/.idea/*
HackerRank/.idea/*
InterviewCake/.idea/*
LeetCode/.idea/*
Pramp/.idea/*
TopCoder/.idea/*
SPOJ/.idea/*
CodeRust/.idea/*
AdHoc/.idea/*